#define WIFI_SSID "mycoolwifi"
#define WIFI_PASSWORD "password"
#define MDNS_HOSTNAME "myawesomexrp"
#define MDNS_TLD ".myfancydomain.gov" //use .local or delete definition if you don't have a fancy domain :/